{% extends "base.html" %}

{% block items %}
<div class="row">
<div class="span10">
{% if admin %}
        <h3>Add NEW Item</h3>
        <form action="" method="post" accept-charset="utf-8">
                <table>
                <tr><th>HIG ID (HIGxxxxx)</th><td><input type="text" name="id" value="" id="id"/></td></tr>
                <tr><th>Serial Number</th><td><input type="text" name="serial" value="" id="serial"/></td></tr>
                <tr><th>IMEI Number</th><td><input type="text" name="imei" value="" id="imei"/></td></tr>
                <tr><th>Type</th><td><select name="type" value="" id="type">
        {% for option in type_choices %}
                <option>{{ option }}</option>
        {% endfor %}

                </select></td></tr>
                <tr><th>Device name</th><td><input type="text" name="name" value="" id="name"/></td></tr>
                <tr><th>Google account</th><td><input type="text" name="google_account" value="" id="google_account"/></td></tr>

                <tr><th>Project</th><td><input type="text" name="project" value="" id="project"/></td></tr>
                <tr><th>Borrower</th><td><input type="text" name="borrower" value="" id="borrower"/></td></tr>
                <tr><th>Borrower's email</th><td><input type="text" name="borrower_email" value="" id="borrower_email"/></td></tr>

                <tr><th>Remarks</th><td><textarea rows="10" cols="40" name="remarks" id="remarks">
{% now "Y-m-d H:i" %}
Android: 
Kernel: 
Baseband (radio): 
Build number:  
        </textarea></td></tr>
        <tr><td colspan="2"><input class="btn btn-primary" type="submit" value="Add this item"/></td></tr>
        </table>
</form>
{% endif %}
</div>
</div>
{% endblock %}