<html>
<head>
	<title>Game Technologies Lab, Equipment Inventory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GTL gear inventory">
    <meta name="author" content="Mariusz, et al.">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	  <style>
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      #wrap > .container {
        padding-top: 80px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
      .navbar .logobrand {
 		position: fixed;    
 		overflow: visible;
 		padding-left: 0;    
 		padding-top: 0;
 	  }
 	  .navbar .brand {
 		padding-left: 150;    
 	  }
    </style>
</head>


<body>

  <div id="wrap">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logobrand" href="http://gtl.hig.no"> <img src="/static/img/gtl-logo_h57.png"></a>
          <a class="brand" href="/">GTL gear</a>
          <div class="nav-collapse collapse">
            <ul class="nav">              
              {% if logout %}
				<li class="active"><a href="/">View all</a></li>
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                     	<li><a href="/projects/">&nbsp;&rarr;&nbsp;&nbsp;Sort by Projects</a></li>
                        <li><a href="/types/">&nbsp;&rarr;&nbsp;&nbsp;Sort by Type</a></li>
                        <li><a href="/borrowers/">&nbsp;&rarr;&nbsp;&nbsp;Sort by Borrowers</a></li>
                    </ul>
                </li>
                {% if admin %}
					<li><a href="/add_item.html">&oplus;&nbsp;<b>Add new</b></a></li>
			  	{% endif %}
                <li><a href="{{logout}}">Logout</a></li>
              {% else %}
                <li><a href="{{url}}">Login</a></li>
              {% endif %} 

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

   		{% block error %}
		{% endblock %}

      {% if logout %}
		{% block items %}
		{% endblock %} 
      {% else %}
        <div class="row">
        	<div class="span6">
        		<h1>GTL gear inventory</h1>
        		<p>This is a simple inventory system for <a href="http://gtl.hig.no">Game Technologies Lab</a> equipment.</p>
        	</div>
        </div>
      		
      {% endif %}

      <div id="push"></div>
  	</div>
    </div> <!-- /container -->

   	<div id="footer"> 
		<div class="container"> 
			<small><p><br/>Copyright &copy; 2013 <a color="yellow" href="http://gtl.hig.no">gtl.hig.no<a>
		</div>
	</div>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>


</body>
</html>
