{% extends "base.html" %}

{% block items %}
	{% if user %}
		{% ifnotequal items|length 0 %}
			{% for borrower in borrowers%}
        			<h3>{{borrower}}</h3>
        			<table cellpadding="10">
        			{% include "fragments/table_headers_gear.html" %}
        			{% for item in items %}
                			{% ifequal item.borrower borrower%}
                                {% include "fragments/table_row_gear.html" %}
                			{% endifequal %}
        				{% endfor %}
        			</table>
			{% endfor %}
		{% endifnotequal %}
	{% endif %}
{% endblock %}
