{% extends "base.html" %}
{% block error %}
{% if url %}
	<div id="login">
		<a href="{{url}}">Login</a>
	</div>
{% endif %}
{% if error %}
	<div id="login">
		<h2> ERROR: couldn't find item...</h2>
	</div>
{% endif %}
{% endblock %}


{% block items %}
{% if item %}
<h2>Modify item</h2>
<form action="" method="post" accept-charset="utf-8">
  <table>
        <tr><th>HIGID (HIGxxxxx)</th><td><b>{{item.higid}}<b>
        <input type="hidden" name="id" value="{{item.id}}" id="id"/></td></tr>
        <tr><th>Serial Number</th><td><input type="text" name="serial" value="{{item.serial}}" id="serial"/></td></tr>
        <tr><th>IMEI Number</th><td><input type="text" name="imei" value="{{item.imei}}" id="imei"/></td></tr>
        <tr><th>Type</th><td><select name="type" value="{{item.higtype}}" id="type">
        {% for option in type_choices %}
            {% if option == item.higtype %}
                <option selected="selected">{{ option }}</option>
            {% else %}
                <option>{{ option }}</option>
            {% endif%}
        {% endfor %}

                </select></td></tr>

        <tr><th>Google account</th><td><input type="text" name="google_account" value="{{item.google_account}}" id="google_account"/></td></tr>
        <tr><th>Project</th><td><input type="text" name="project" value="{{item.project}}" id="project"/></td></tr>
        <tr><th>Borrower</th><td><input type="text" name="borrower" value="{{item.borrower}}" id="borrower"/></td></tr>
        <tr><th>Borrower's email</th><td><input type="text" name="borrower_email" value="{{item.borrower_email}}" id="borrower_email"/></td></tr>

        <tr><th>Device name</th><td><input type="text" name="name" value="{{item.name}}" id="name"/></td></tr>
        <tr><th>Remarks</th><td><textarea rows="10" cols="40" name="remarks" id="remarks">
{{item.remarks}}
        </textarea>
        </td></tr>
        <tr><td colspan="2"><input class="btn btn-danger" type="submit" value="Modify this item"/></td></tr>
  </table>
</form>
</div>
{% endif %}
{% endblock %}