body {
        font-family: arial, verdana, sans serif;
        background-color: #DDDDDD;
}

#content h1,h2 {
	margin-left: 0.5cm;
}

#content form h1, th {
        font-family: Verdana, Helvetica, sans-serif;
        text-align:center;
}

#content a {
	color: navy;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#content a:hover {
	background-color: #DDDDFF;
}

#header table, tr, td { 
 	border-top: 0px solid navy; 
	border-left: 0px solid navy;
	border-right: 0px solid navy;
	border-bottom: 0px solid navy; 
}

#content form textarea {
	background-color: white;
	border: black 1px solid;
	color: black;
	font-family: arial, verdana, sans serif;
	font-size: 10pt;
	font-weight: normal;
	width: 100%;
	height: 15em;
}

#gtl-right {
    float:right;
    width:30%;
    margin-right: 0.5cm;
}

#gtl-left {
    float:left;
    width:85%;
    margin-left: 0.5cm;
}

#gtl-header h2, p { margin-left: 1cm; color: #cccccc; }
#footer a { color: #cccccc; text-decoration: none; }
#footer a:hover { color: navy; }
